%h2 Unlimited Lap Mode

%table
  %tbody
    %tr
      %th Duration
      %th Interval
      %th Notification
    %tr
      %td
        %select(data-bind="options: #{count_select}, value: duration, optionsCaption: ''")
        sec.
      %td
        %select(data-bind="options: #{count_select}, value: interval, optionsCaption: ''")
        sec.
      %td
        %select(data-bind="options: #{count_select}, value: notif_time, optionsCaption: ''")
        sec.

= render partial:'unlimited_lap/count_display'