%h2 Unlimited Lap Mode

%table
  %tbody
    %tr
      %th Duration
      %th Interval
      %th Notification
    %tr
      %td
        = select_tag :duration, options_for_select(count_select, params[:duration]), data: {bind: "value: duration, valueUpdate: 'keyup'"}
        sec.
      %td
        = select_tag :interval, options_for_select(count_select, params[:interval]), data: {bind: "value: interval, valueUpdate: 'keyup'"}
        sec.
      %td
        = select_tag :notif_time, options_for_select(count_select, params[:notif_time]), data: {bind: "value: notif_time, valueUpdate: 'keyup'"}
        sec.

= render partial:'unlimited_lap/count_display'