%h2 Unlimited Lap Mode
%p input following

=form_for @form, :url => {:action => 'work'} do |f|
  %table
    %tbody
      %tr
        %th
          =f.label :duration, 'Duration'
        %th
          =f.label :interval, 'Interval'
        %th
          =f.label :interval, 'Notification'
      %tr
        %td
          =f.select :duration, count_select
          sec.
        %td
          =f.select :interval, count_select
          sec.
        %td
          =f.select :notif_time, count_select
          sec.

  =f.submit 'Submit'
